.cctm-app {

  .cctm-app-inner {
    [v-cloak] {
      visibility: hidden;
    }

    margin: 10px 15px 16px 15px;

    h2 {
      margin-bottom: 2rem;
    }

    .cctm-request-info {
      color: green;
      display: flex;
      flex-wrap: wrap;
      font-size: 10px;
      margin-bottom: 1rem;

      span {
        margin-right: 1rem;
        line-height: 1.5;
      }
    }

    .cctm-status-box {
      padding: 1rem;

      p {
        margin: 0;
      }
    }

    .cctm-status-success {
      background-color: rgba(0, 128, 0, 0.33);
    }

    .cctm-status-pending {
      background-color: rgb(245, 245, 245);
    }

    .cctm-status-error {
      background-color: rgba(250, 150, 150, 0.73);
    }

    .cctm-summary-box {
      background-color: #0a0a0a;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      height: 400px;
      overflow-y: scroll;

      p {
        line-height: 1.8;
        font-size: 11px;
        padding: 0;
        margin: 0;
        margin-bottom: 0.4rem;
        background: 0 !important;

        &:last-child {
          margin-bottom: 1.5rem !important;
        }
      }

      .tl_error, .cctm-summary-box-item-error {
        color: rgb(248, 133, 133);
      }

      .tl_info, .cctm-summary-box-item-info {
        color: greenyellow;
      }
    }
  }

  .cctm-progress-bar-container {
    margin: 15px 0;
    background-color: #fbfbfb;
  }

  .cctm-progress-bar-container .cctm-progress-bar-inner {
    height: 30px;
    width: 0;
    background-color: green;
    transition: width 1.5s ease;
    line-height: 1.5;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


