<div class="content cctm-app">
    <div id="tl_buttons">
        <a href="contao?do=csv_table_merger" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">{{ 'MSC.goBack'|trans({}, 'contao_default') }}</a>
    </div>

    <div id="vueApplication" class="tl_listing_container list_view cctm-app-inner">
        <div v-cloak>

            <h2>{{ model.title }}</h2>

            <div class="cctm-request-info">
                <span>Record count: [[ record_count ]]</span>
                <span>Requests required: [[ requests_required ]]</span>
                <span>Requests pending: [[ requests_pending ]]</span>
                <span>Requests completed: [[ requests_completed ]]</span>
            </div>
            <div v-if="merging_process_stopped_with_error" class="cctm-status-box cctm-merging-process-stopped-with-error cctm-status-error">
                <p>Merging process stopped with an error. Please check your system log.</p>
            </div>
            <div v-else-if="merging_process_completed" class="cctm-status-box cctm-merging-process-completed cctm-status-success">
                <p>Merging process completed. You may now close the window.</p>
            </div>
            <div v-else class="cctm-status-box cctm-merging-process-pending cctm-status-pending">
                <p>Merging process started. Please do not close the window.</p>
            </div>

            <div class="cctm-progress-bar-container">
                <div id="importProgress" class="cctm-progress-bar-inner">
                    <span class="cctm-percentage"></span>
                </div>
            </div>

            <div class="cctm-summary-box" v-html="messages"></div>

        </div>
    </div>

    <div class="tl_formbody_submit">
        <div class="tl_submit_container">
            <button class="tl_submit" onclick="javascript:location.href='contao?do=csv_table_merger'">{{ 'MSC.goBack'|trans({}, 'contao_default') }}</button>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const tableMergerApplication = new TableMergeApp('#vueApplication', {{ options|json_encode()|raw }});
    });
</script>
